
header{  
    width: 100%;
    background: url(/imagenes/he.jpg);
    font-size: 100%;
    text-align: right;
}

#fotos{
    border-radius: 150px;
    border-color: black;
    border-right: initial;
    margin-right: 300px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-top: 50px;
}
#encabezado{
    background:#ec7c7b ;
    background-image: url(/imagenes/he.jpg);
}
body{
    background: #dcd1b4;
}
h1{
    font-family:'Times New Roman', Times, serif;
    color: beige;
}
#letras {
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-align: center;
     color: bisque;
}
.b-social{
    color: #5d9fa3;
    position: fixed;
    left: 0;
    top:400px;
    z-index: 2000;
}
footer {
    text-align: center;
    color: white;
    background-color: #1A1A1A;
    width: 100%;
    height: 81px;
    position:relative;
    bottom: 0;
    left: 0;
}
article{
    background:#f3f3e3;
}
#frases{
    background:#ec7c7b;
    border:bisque 5px solid;
    text-align:center;
}
#centro{
    background: #dcd1b4;
    text-align: center;
}
section{
    background-color: bisque;
}